html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

.nav-link {
    font-weight: bold;
    color: #000;
    padding-left: 40px;
}

.nav-link:hover {
    color: #22074e; 
    transform: scale(1.2);
    border-bottom: 2px solid #190e49;
}

.gradient {
    background: white;
background: -webkit-linear-gradient(to right, steelblue, darkblue);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, steelblue, darkblue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.page-header{
    margin-top: 4rem;
    color: white;
    font-size: 1.25rem;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.animated-text {
    animation: fadeIn 2s ease-in-out;
}

.content{
}
    
h1{
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    margin: 3% 0 -5%;
}

p {
    margin: 5% 10% 0 10%;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: justify;
}


#about-me, #timeline {
    margin-top: 5%;
}
